.menu {
  position: relative;
}


.menuDropdown {
  position: absolute;
  display: grid;
  gap: 10px;
  margin-block-start: 0.5lh;
  width: max-content;

  overflow: hidden;
  clip-path: inset(0 0 100% 0);
  opacity: 0;
  pointer-events: none;
  transition: clip-path 0.25s ease, opacity 0.2s ease;

  min-width: 200px;
  padding: 1lh;

  @media (max-width: 450px) {

    left: 7%;
  }
}

.menuItem {
  width: 100%;
  overflow: hidden;
  border: none;
}

.menu-link {
  display: block;
  padding: 0.5lh 80px;
}

.menu-link:hover,
.menu-link:focus-visible {
  background-color: #f5cac3;
}

.dropdownButton.dropdownOpen~.menuDropdown {
  clip-path: inset(0 0 0 0);
  opacity: 1;
  pointer-events: auto;

  border-radius: 15px;
  // border: 1px solid rgba(15, 23, 42, 0.08);
  background: rgba(255, 255, 255, 1);
  box-shadow: inset 0 0 0 1px rgba(15, 23, 42, 0.06);
  outline: 2px solid rgba(0, 0, 0, 0);
}
