$gap-size: 10px;

.header {}

.headerContent {
  display: flex;
  flex-direction: column;
  gap: $gap-size;
}

.headerTop {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: $gap-size;

  @media (max-width: 650px) {
    display: grid;
    justify-content: space-between;


    grid-template-columns: repeat(2, 1fr);
    grid-template-areas:
      "tahsLogo labLogo"
      "headerTitle headerTitle";

    gap: $gap-size;
  }
}

.tahsLogo {
  grid-area: tahsLogo;
  justify-self: center;
}

.labLogo {
  grid-area: labLogo;
  justify-self: center;
}

.headerTitle {
  justify-self: center;
  grid-area: headerTitle;

  text-align: center;
  font-size: clamp(18px, 2.5vw, 26px);
  font-weight: 500;
  color: #25252d;

  @media (max-width: 650px) {
    font-size: clamp(14px, 4.5vw, 28px);
  }
}



.navList {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: $gap-size;

  text-align: center;

  @media (max-width: 450px) {
    grid-template-columns: 1fr;
    flex-direction: column;
  }
}

.navItem {

  font-size: 18px;

  &>button {
    width: 100%;
  }

  @media (max-width: 650px) {
    font-size: clamp(10px, 2vw, 14px);
  }

  @media (max-width: 450px) {
    width: 90%;

    &>* {
      width: 100%;
    }
  }
}

.burgerWrapper {
  position: relative;
  display: inline-flex;
  align-items: flex-start;
  gap: 8px;
}

.menu-item {
  display: block;
  padding: 8px;
  color: white;
  font-size: 18px;
  text-align: center;
  text-decoration: none;
}

.menu-item:hover {
  background: rgba(255, 255, 255, .2)
}

.burgerNav {
  @media (max-width: 450px) {
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0%);
    display: grid;
    gap: 10px;
    width: max-content;

    overflow: hidden;
    max-height: 0;
    padding: 0;
    opacity: 0;

    pointer-events: none;
    transition:
      max-height 0.3s ease,
      opacity 0.2s ease,
      transform 0.3s ease,
      padding 0.3s ease;

    min-width: 200px;
  }

}

.burgerNavOpen {
  @media (max-width: 450px) {
    z-index: 10;
    overflow: visible;
    max-height: 320px;
    padding: 1lh;
    opacity: 1;
    left: 50%;
    transform: translate(-50%, 20%);
    pointer-events: auto;

    border-radius: 15px;

    background: rgba(255, 255, 255, 1);
    box-shadow: inset 0 0 0 1px rgba(15, 23, 42, 0.06);
    outline: 2px solid rgba(0, 0, 0, 0);
  }
}