.select {
  position: relative;
  display: flex;
  // justify-content: center;
  // width: 100%;
}

.selectOptionsList {
  position: absolute;
  top: calc((100% + 3px));
  left: 50%;
  transform: translate(-50%, -0);
  gap: 10px;
  // margin-block-start: 0.5lh;
  // width: max-content;
  display: grid;

  overflow: hidden;
  max-height: 0;
  padding: 0;
  opacity: 0;
  pointer-events: none;
  transition:
    max-height 0.3s ease,
    opacity 0.2s ease,
    transform 0.3s ease,
    padding 0.3s ease;
}

.option {
  width: 80%;
  // overflow: hidden;
  border: none;


}